In [4]:
import pandas as pd
data = pd.read_excel ('CTG.xls', 'Raw Data')

In [5]:
data.head()

,FileName,Date,SegFile,b,e,LBE,LB,AC,FM,UC,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Variab10.txt,1996-12-01,CTG0001.txt,240.0,357.0,120.0,120.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,9.0,2.0
2,Fmcs_1.txt,1996-05-03,CTG0002.txt,5.0,632.0,132.0,132.0,4.0,0.0,4.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
3,Fmcs_1.txt,1996-05-03,CTG0003.txt,177.0,779.0,133.0,133.0,2.0,0.0,5.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
4,Fmcs_1.txt,1996-05-03,CTG0004.txt,411.0,1192.0,134.0,134.0,2.0,0.0,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2130 entries, 0 to 2129
Data columns (total 40 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FileName  2126 non-null   object
 1   Date      2126 non-null   datetime64[ns]
 2   SegFile   2126 non-null   object
 3   b         2126 non-null   float64
 4   e         2126 non-null   float64
 5   LBE       2126 non-null   float64
 6   LB        2126 non-null   float64
 7   AC        2126 non-null   float64
 8   FM        2127 non-null   float64
 9   UC        2127 non-null   float64
 10  ASTV      2127 non-null   float64
 11  MSTV      2127 non-null   float64
 12  ALTV      2127 non-null   float64
 13  MLTV      2127 non-null   float64
 14  DL        2128 non-null   float64
 15  DS        2128 non-null   float64
 16  DP        2128 non-null   float64
 17  DR        2128 non-null   float64
 18  Width     2126 non-null   float64
 19  Min       2126 non-null   float64
 20  Max       2126 non-null   float64
 21  Nmax      2126 non-null   float64
 22  Nzeros    2126 non-null   float64
 23  Mode      2126 non-null   float64
 24  Mean      2126 non-null   float64
 25  Median    2126 non-null   float64
 26  Variance  2126 non-null   float64
 27  Tendency  2126 non-null   float64
 28  A         2126 non-null   float64
 29  B         2126 non-null   float64
 30  C         2126 non-null   float64
 31  D         2126 non-null   float64
 32  E         2126 non-null   float64
 33  AD        2126 non-null   float64
 34  DE        2126 non-null   float64
 35  LD        2126 non-null   float64
 36  FS        2126 non-null   float64
 37  SUSP      2126 non-null   float64
 38  CLASS     2126 non-null   float64
 39  NSP       2126 non-null   float64
dtypes: datetime64[ns](1), float64(37), object(2)
memory usage: 665.8+ KB

In [7]:
data = data.drop (['FileName', 'Date', 'SegFile', 'b', 'e', 'LBE'], axis=1)

In [8]:
data.head()

,LB,AC,FM,UC,ASTV,MSTV,ALTV,MLTV,DL,DS,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,120.0,0.0,0.0,0.0,73.0,0.5,43.0,2.4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,9.0,2.0
2,132.0,4.0,0.0,4.0,17.0,2.1,0.0,10.4,2.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
3,133.0,2.0,0.0,5.0,16.0,2.1,0.0,13.4,2.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
4,134.0,2.0,0.0,6.0,16.0,2.4,0.0,23.0,2.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0

In [9]:
data = data.drop (['A', 'B', 'C', 'D', 'E','AD', 'DE', 'LD', 'FS', 'SUSP'], axis=1)

In [11]:
data.head(10)

,LB,AC,FM,UC,ASTV,MSTV,ALTV,MLTV,DL,DS,...,Max,Nmax,Nzeros,Mode,Mean,Median,Variance,Tendency,CLASS,NSP
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,120.0,0.0,0.0,0.0,73.0,0.5,43.0,2.4,0.0,0.0,...,126.0,2.0,0.0,120.0,137.0,121.0,73.0,1.0,9.0,2.0
2,132.0,4.0,0.0,4.0,17.0,2.1,0.0,10.4,2.0,0.0,...,198.0,6.0,1.0,141.0,136.0,140.0,12.0,0.0,6.0,1.0
3,133.0,2.0,0.0,5.0,16.0,2.1,0.0,13.4,2.0,0.0,...,198.0,5.0,1.0,141.0,135.0,138.0,13.0,0.0,6.0,1.0
4,134.0,2.0,0.0,6.0,16.0,2.4,0.0,23.0,2.0,0.0,...,170.0,11.0,0.0,137.0,134.0,137.0,13.0,1.0,6.0,1.0
5,132.0,4.0,0.0,5.0,16.0,2.4,0.0,19.9,0.0,0.0,...,170.0,9.0,0.0,137.0,136.0,138.0,11.0,1.0,2.0,1.0
6,134.0,1.0,0.0,10.0,26.0,5.9,0.0,0.0,9.0,0.0,...,200.0,5.0,3.0,76.0,107.0,107.0,170.0,0.0,8.0,3.0
7,134.0,1.0,0.0,9.0,29.0,6.3,0.0,0.0,6.0,0.0,...,200.0,6.0,3.0,71.0,107.0,106.0,215.0,0.0,8.0,3.0
8,122.0,0.0,0.0,0.0,83.0,0.5,6.0,15.6,0.0,0.0,...,130.0,0.0,0.0,122.0,122.0,123.0,3.0,1.0,9.0,3.0
9,122.0,0.0,0.0,1.0,84.0,0.5,5.0,13.6,0.0,0.0,...,130.0,0.0,0.0,122.0,122.0,123.0,3.0,1.0,9.0,3.0

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2130 entries, 0 to 2129
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LB        2126 non-null   float64
 1   AC        2126 non-null   float64
 2   FM        2127 non-null   float64
 3   UC        2127 non-null   float64
 4   ASTV      2127 non-null   float64
 5   MSTV      2127 non-null   float64
 6   ALTV      2127 non-null   float64
 7   MLTV      2127 non-null   float64
 8   DL        2128 non-null   float64
 9   DS        2128 non-null   float64
 10  DP        2128 non-null   float64
 11  DR        2128 non-null   float64
 12  Width     2126 non-null   float64
 13  Min       2126 non-null   float64
 14  Max       2126 non-null   float64
 15  Nmax      2126 non-null   float64
 16  Nzeros    2126 non-null   float64
 17  Mode      2126 non-null   float64
 18  Mean      2126 non-null   float64
 19  Median    2126 non-null   float64
 20  Variance  2126 non-null   float64
 21  Tendency  2126 non-null   float64
 22  CLASS     2126 non-null   float64
 23  NSP       2126 non-null   float64
dtypes: float64(24)
memory usage: 399.5 KB

In [13]:
data['NSP'].value_counts()

1.0    1655
2.0     295
3.0     176
Name: NSP, dtype: int64

In [14]:
data.isna().sum()

LB          4
AC          4
FM          3
UC          3
ASTV        3
MSTV        3
ALTV        3
MLTV        3
DL          2
DS          2
DP          2
DR          2
Width       4
Min         4
Max         4
Nmax        4
Nzeros      4
Mode        4
Mean        4
Median      4
Variance    4
Tendency    4
CLASS       4
NSP         4
dtype: int64

In [15]:
data.dropna(axis = 0, inplace = True)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2126 entries, 1 to 2126
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LB        2126 non-null   float64
 1   AC        2126 non-null   float64
 2   FM        2126 non-null   float64
 3   UC        2126 non-null   float64
 4   ASTV      2126 non-null   float64
 5   MSTV      2126 non-null   float64
 6   ALTV      2126 non-null   float64
 7   MLTV      2126 non-null   float64
 8   DL        2126 non-null   float64
 9   DS        2126 non-null   float64
 10  DP        2126 non-null   float64
 11  DR        2126 non-null   float64
 12  Width     2126 non-null   float64
 13  Min       2126 non-null   float64
 14  Max       2126 non-null   float64
 15  Nmax      2126 non-null   float64
 16  Nzeros    2126 non-null   float64
 17  Mode      2126 non-null   float64
 18  Mean      2126 non-null   float64
 19  Median    2126 non-null   float64
 20  Variance  2126 non-null   float64
 21  Tendency  2126 non-null   float64
 22  CLASS     2126 non-null   float64
 23  NSP       2126 non-null   float64
dtypes: float64(24)
memory usage: 415.2 KB

In [18]:
from sklearn.model_selection import train_test_split

X = data.values[:, :-1]
y = data.values[:, -1]

x_train, x_test, y_train, y_test = train_test_split (X, y, test_size = 0.2, random_state = 47)

In [19]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

s = SVC(kernel='linear', gamma='auto')
s.fit (x_train, y_train)
y_pred_train = s.predict (x_train)
y_pred_test = s.predict (x_test)

print ('train accuracy=', accuracy_score (y_pred_train, y_train))
print ('test accuracy=', accuracy_score (y_pred_test, y_test))

train accuracy= 0.9711764705882353
test accuracy= 0.960093896713615

In [20]:
from sklearn.metrics import classification_report

print (classification_report (y_test, y_pred_test))

              precision    recall  f1-score   support

         1.0       0.98      0.98      0.98       329
         2.0       0.86      0.89      0.88        64
         3.0       0.91      0.91      0.91        33

    accuracy                           0.96       426
   macro avg       0.92      0.93      0.92       426
weighted avg       0.96      0.96      0.96       426